/ai-novel/src/main/frontend/dist/assets/axios-vendor-B9ygI19o.js
/ai-novel/src/main/frontend/dist/assets/index-CSw-2w_f.css
/ai-novel/src/main/frontend/dist/assets/index-DWzo5wzB.js
/ai-novel/src/main/frontend/dist/assets/vue-vendor-Bkc6-uhW.js
/ai-novel/src/main/frontend/dist/index.html
